.layout {
  width: 100%;
  height: 100vh;
}

.layout-sidebar {
  background: var(--ETP_Grey-dark, #666F78);
  width: 273px;
  height: 1219px;
  flex-shrink: 0;
}

.width-400 {
  width: 380px;
  background: var(--ETP_Grey-dark, #666F78);
  height: 100%;
  flex-shrink: 0;
}

.layout-content {
  margin-top: 64px;
  box-sizing: border-box;
}
