<app-navbar (isShowSidebar)="sidenav.toggle($event)" [isMenuOpened]="isShowSidebar"></app-navbar>

<mat-sidenav-container class="layout">
  <mat-sidenav
    #sidenav
    [opened]="isShowSidebar"
    [ngClass]="{'width-400': !isShowSidebar, 'layout-sidebar': isShowSidebar}"
    mode="side"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="layout-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
