.container {
  background: var(--ETP_Grey-extra-light, #F5F6F7);
  padding: 2rem;
}

.mat-elevation-z8 {
  margin-bottom: 5rem;
}

.title-of-card {
  color: var(--ETP_Suburban-black, #282828);
  font-family: Moscow Sans, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.main-button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;

  button {
    border-radius: 8px;
    background: var(--ETP_Red, #DA2032);
    color: var(--ETP_White, #FFF);
    font-family: Moscow Sans, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
  }
}

mat-card {
  margin-top: 1rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.form-title {
  color: var(--ETP_Suburban-black, #282828);
  font-family: Moscow Sans, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.form-container {
  padding: 2rem;
  margin-top: 1rem;
  margin-left: -1.5rem;

  .clear-button {
    color: red;
  }
}

.custom-form-field {
  margin-left: 20px;
  width: 15rem;
  margin-bottom: 2rem;
}

.input-container {
  position: absolute;
  height: 44px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(130, 140, 150, 0.40);
}

.select-container {
  color: black !important;
  position: absolute;
  height: 44px;
  flex-shrink: 0;
}

label {
  position: absolute;
  margin-top: -45px;
  margin-left: -15px;
  font-weight: 550;
}

::ng-deep.mat-mdc-option {
  color: black;
}

.footer-button-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 20px;
  margin-bottom: -2rem;

  button {
    width: 169px;
    height: 48px;
    background: var(--ETP_Red, #DA2032);
    flex-shrink: 0;
    border-radius: 8px;
    color: var(--ETP_White, #FFF);
    //background: var(--ETP_Red, #DA2032);
    text-align: center;

    font-family: Moscow Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
}

::ng-deep.mat-mdc-raised-button[disabled][disabled] {
  background: #A2A9B1;
}

.table-title {
  color: var(--ETP_Grey-dark, #666F78);
  text-align: center;
  font-family: Moscow Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  padding: 20px 0 10px 0;
  line-height: 18px;
}

::ng-deep.mat-mdc-paginator-container {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
  margin-left: 2rem !important;
  padding: 15px !important;
}

.accordion-header {
  display: flex !important;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 1rem;
}

::ng-deep.mat-content {
  display: inline-block !important;
}

::ng-deep.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
  background: var(--ETP_Grey-extra-light, #F5F6F7) !important;
}

::ng-deep.mat-mdc-fab.mat-primary, .mat-mdc-mini-fab.mat-primary {
  --mdc-fab-container-color: #1bb51e !important;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

::ng-deep.mat-mdc-fab.mat-warn, .mat-mdc-mini-fab.mat-warn {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 2rem;
}

::ng-deep.mat-expansion-panel-body {
  padding: 0 !important;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.mobile-label-1 {
  display: none;
  font-weight: 600;
  color: black;
}

.mobile-label-pos {
  display: none;
  font-weight: 600;
  color: black;
}

.table-container {
  width: 100%;
  overflow: auto;
}

@media (max-width: 420px) {
  ::ng-deep.main-button-container button {
    width: 100% !important;
  }
}

@media (max-width: 705px) {
  ::ng-deep.custom-form-field {
    width: 100% !important;
  }

  ::ng-deep.footer-button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    gap: 2rem;
    justify-content: center;
  }

  ::ng-deep.mat-mdc-paginator-page-size {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    margin-right: 8% !important;
  }
}


@media (max-width: 768px) {
  .br {
    display: none;
  }

  .mobile-label-1 {
    display: inline-block !important;
    font-weight: 600;
    color: black;
    margin-right: 2rem;
  }

  .mobile-label-pos {
    display: inline-block !important;
    font-weight: 600;
    color: black;
    margin-left: 45%;
  }

  ::ng-deep.mat-mdc-header-cell {
    display: none;
  }

  ::ng-deep.mat-mdc-header-row {
    display: block;
  }

  ::ng-deep.mat-mdc-row {
    display: block;
    overflow: hidden;
    margin-bottom: 2rem;
    height: auto;
    width: 100%;
    position: relative;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 3px;
  }
}

