<div class="container">
  <div>
    <h2 class="title-of-card">Настройка учетных записей сотрудников контрагента</h2>
  </div>

  <div class="accordion-header">
    <div class="main-button-container">
      <button (click)="openCreateEditModal()" mat-raised-button>
        Добавить
        <mat-icon>add_circle</mat-icon>
      </button>
      <button (click)="updateStatuses('unlock')"
              [disabled]="!selectedItems"
              [ngClass]="getButtonColors()"
              mat-raised-button>
        Разблокировать
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <button (click)="updateStatuses('block')"
              [disabled]="!selectedItems"
              [ngClass]="getButtonColors()"
              mat-raised-button>
        Заблокировать
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <div class="main-button-container">
      <button (click)="toggleFilterPanel()" [ngClass]="filterPanelOpened ? 'filter-button-style' : ''"
              mat-raised-button>
        Фильтр
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>


  <mat-accordion>
    <mat-expansion-panel #filterPanel hideToggle>
      <mat-card>
        <form [formGroup]="filterForm">
          <mat-card-title class="form-title">Фильтр</mat-card-title>

          <div class="form-container">
            <mat-form-field appearance="outline" class="custom-form-field">
              <label>Логин</label>
              <input [value]="filterForm.value.login" class="input-container" formControlName="login" matInput
                     name="login">
              <button (click)="clearInput('login')" [disabled]="!filterForm.value.login" aria-label="Clear" color="warn"
                      mat-icon-button
                      matSuffix>
                <mat-icon matSuffix>cancel</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <label>Телефон</label>
              <input [value]="filterForm.value.phone" class="input-container" formControlName="phone" mask='+0(000) 000-00-00'
                     matInput
                     name="phone"
                     type="tel">
              <button (click)="clearInput('phone')" [disabled]="!filterForm.value.phone" aria-label="Clear" color="warn"
                      mat-icon-button
                      matSuffix>
                <mat-icon matSuffix>cancel</mat-icon>
              </button>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <label>Дата создания</label>
              <input [matDatepicker]="picker" class="input-container" formControlName="creationDate" matInput>
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <!--              <mat-error *ngIf="filterForm.get('creationDate')?.hasError('invalidDate')">-->
              <!--                Неверный формат даты-->
              <!--              </mat-error>-->
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <label>Статус</label>
              <mat-select class="select-container" formControlName="status">
                <mat-option disabled value="">Выберите статус</mat-option>
                <mat-option value="ACTIVE">Активен</mat-option>
                <mat-option value="NOT_ACTIVE">Заблокирован</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="custom-form-field">
              <label>E-mail</label>
              <input [value]="filterForm.value.email" class="input-container" formControlName="email" matInput
                     name="email"
                     type="email">
              <button (click)="clearInput('email')" [disabled]="!filterForm.value.email" aria-label="Clear" color="warn"
                      mat-icon-button
                      matSuffix>
                <mat-icon matSuffix>cancel</mat-icon>
              </button>
              <mat-error *ngIf="filterForm.get('email')?.hasError('email')">
                Недопустимые символы
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <label>Роль</label>
              <mat-select class="select-container" formControlName="rol">
                <mat-option disabled value="">Выберите роль</mat-option>
                <mat-option [value]="false">Пользователь</mat-option>
                <mat-option [value]="true">Администратор</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="custom-form-field">
              <label>Дата изменения</label>
              <input [matDatepicker]="pickerchange" class="input-container" formControlName="changedDate" matInput>
              <mat-datepicker-toggle [for]="pickerchange" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #pickerchange></mat-datepicker>
              <!--              <mat-error *ngIf="filterForm.get('changedDate')?.hasError('invalidDate')">-->
              <!--                Неверный формат даты-->
              <!--              </mat-error>-->
            </mat-form-field>

            <div class="footer-button-container">
              <button (click)="applyFilter()"
                      [disabled]="!isFormValid()"
                      [ngClass]="getButtonClass()"
                      mat-raised-button>
                Применить
              </button>

              <button (click)="toggleFilterPanel()" mat-raised-button>
                Отмена
              </button>
              <button (click)="resetAll(); disableResetButton()" [disabled]="!filterForm.dirty"
                      [ngClass]="!filterForm.dirty ? 'filter-button-style' : ''" mat-raised-button>
                Сбросить
              </button>
            </div>

          </div>
        </form>

      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="mat-elevation-z8">
    <h1 class="table-title">Количество выбранных записей: {{selectedItems}}</h1>
    <div class="table-container">
      <table [dataSource]="dataSource" mat-table>
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef class="red-header">№</mat-header-cell>
          <mat-cell *matCellDef="let element, let i= index">
            <span class="mobile-label-pos">№</span>
            {{ pageIndex * pageSize + i + 1 }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="red-header">
            Действия
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Действия</h3>
            <button (click)="openCreateEditModal(element)" mat-icon-button matTooltip="Редактировать">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button (click)="deleteCounterparty(element)" mat-icon-button matTooltip="Удалить">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="login">
          <mat-header-cell *matHeaderCellDef class="red-header">
            <mat-checkbox (change)="toggleAllCheckboxes()" [(ngModel)]="selectAllChecked"
                          color="primary"></mat-checkbox>
            Логин
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Логин</h3>
            <mat-checkbox (change)="toggleCheckboxes(element)"
                          [(ngModel)]="element.checked"></mat-checkbox>
            {{element.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef class="red-header"> E-mail
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">E-mail:</h3>
            {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef class="red-header">
            Телефон
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Телефон:</h3>
            {{ element.phone | mask: '+0(000) 000-00-00' }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="rol">
          <mat-header-cell *matHeaderCellDef class="red-header"> Роли
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Роли:</h3>
            {{rolMappings[element.is_admin]}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="changedDate">
          <mat-header-cell *matHeaderCellDef class="red-header"> Дата
            изменения
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Дата изменения:</h3>
            {{element.updated_at | date: 'dd.MM.YYYY'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <mat-header-cell *matHeaderCellDef class="red-header"> Дата
            создания
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Дата создания:</h3>
            {{element.created_at | date: 'dd.MM.YYYY'}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef class="red-header"> Статус
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Статус:</h3>
            <span [ngClass]="{'green-text': element.color, 'red-text': !element.color}">
          {{ statusMappings[element.status] || null }}
          </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="cash">
          <mat-header-cell *matHeaderCellDef class="red-header"> Наличие
            ЭП
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <h3 class="mobile-label-1">Наличие ЭП:</h3>
            <button *ngIf="!element.is_ecp" color="warn" mat-mini-fab>
              <mat-icon>close</mat-icon>
            </button>
            <button *ngIf="element.is_ecp" color="primary" mat-mini-fab>
              <mat-icon>check</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
    <mat-paginator [length]="length"
                   [pageIndex]="pageIndex"
                   (page)='paginatorListener($event)'
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize"
                   [showFirstLastButtons]="showFirstLastButtons"
                   aria-label="Select page"
    >
    </mat-paginator>
  </div>

</div>
