<div>
  <h2 mat-dialog-title class="dialog-title">
    {{ data && data.id ? 'Редактирование контрагента' : 'Создание контрагента' }}
  </h2>

  <mat-dialog-content>
    <form [formGroup]="form">
      <div class="form-container">
        <mat-form-field appearance="outline" class="custom-form-field">
          <label>Логин</label>
          <input [value]="form.value.name" class="input-container" formControlName="name" matInput
                 name="name">
          <button (click)="clearInput('name')" [disabled]="!form.value.name" aria-label="Clear" color="warn"
                  mat-icon-button
                  matSuffix>
            <mat-icon matSuffix>cancel</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-form-field">
          <label>Телефон</label>
          <input [value]="form.value.phone" class="input-container" formControlName="phone" matInput
                 name="phone"
                 mask = '+0(000) 000-00-00'
                 type="tel">
          <button (click)="clearInput('phone')" [disabled]="!form.value.phone" aria-label="Clear" color="warn"
                  mat-icon-button
                  matSuffix>
            <mat-icon matSuffix>cancel</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline" class="custom-form-field">
          <label>E-mail</label>
          <input [value]="form.value.email" class="input-container" formControlName="email" matInput
                 name="email"
                 type="email">
          <button (click)="clearInput('email')" [disabled]="!form.value.email" aria-label="Clear" color="warn"
                  mat-icon-button
                  matSuffix>
            <mat-icon matSuffix>cancel</mat-icon>
          </button>
          <mat-error *ngIf="form.get('email')?.hasError('email')">
            Недопустимые символы
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-form-field">
          <label>Статус</label>
          <mat-select class="select-container" formControlName="status">
            <mat-option disabled value="">Выберите статус</mat-option>
            <mat-option value="ACTIVE">Активен</mat-option>
            <mat-option value="NOT_ACTIVE">Заблокирован</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="custom-form-field">
          <label>Роль</label>
          <mat-select class="select-container" formControlName="is_admin">
            <mat-option disabled value="">Выберите роль</mat-option>
            <mat-option [value]="false">Пользователь</mat-option>
            <mat-option [value]="true">Администратор</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="footer-button-container">
      <button (click)="create()"
              [ngClass]="getButtonClass()"
              [disabled]="form.invalid"
              mat-raised-button>
        {{ data && data.id ? 'Сохранить' : 'Создать' }}
      </button>

      <button (click)="closeModal()" mat-raised-button>
        Отмена
      </button>
      <button (click)="resetAll(); disableResetButton()" [disabled]="!form.dirty"
              [ngClass]="!form.dirty ? 'filter-button-style' : ''" mat-raised-button>
        Сбросить
      </button>
    </div>
  </mat-dialog-actions>

</div>
