.custom-form-field {
  width: 100% !important;
}

.dialog-title {
  text-align: center;
}

.footer-button-container {
  display: flex;
  align-items: center;
  margin-top: -2rem;
  margin-left: 5%;

  button {
    width: 169px;
    height: 48px;
    background: var(--ETP_Red, #DA2032);
    flex-shrink: 0;
    border-radius: 8px;
    color: var(--ETP_White, #FFF);
    text-align: center;

    font-family: Moscow Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
  }
}
