<div class="container">
  <div class="content-container">
    <h1 mat-dialog-title>Подтвердите действие</h1>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    {{data.message}}
  </div>
  <div class="buttons">
    <button [mat-dialog-close]="false" color="accent" id="no-button" mat-raised-button class="mr-2">Отменить</button>
    <button *ngIf="data.message === MESSAGE.DELETE_COUNTERPARTY" [mat-dialog-close]="true" color="warn" id="yes-button" mat-raised-button class="ml-2">Удалить</button>
    <button *ngIf="checkMessage && !checkMessageDelete" [mat-dialog-close]="true" color="warn" id="unblock" mat-raised-button class="ml-2">Разблокировать</button>
    <button *ngIf="!checkMessage && !checkMessageDelete" [mat-dialog-close]="true" color="warn" id="block" mat-raised-button class="ml-2">Заблокировать</button>
  </div>
</div>
