<mat-toolbar class="header">

  <div class="back-container" *ngIf="checkProfile">
    <button mat-button (click)="openMenu()">
      <mat-icon *ngIf="!isMenuOpened" class="back-button">arrow_back_ios</mat-icon>
      <mat-icon *ngIf="isMenuOpened" class="back-button">arrow_forward_ios</mat-icon>
    </button>
  </div>

  <div></div>

  <div>
    <div class="header__title">
      <div *ngIf="checkProfile" class="header-toolbar">
        <button class="userIcon" mat-mini-fab>
          <mat-icon color="accent">account_circle</mat-icon>
        </button>

        <button class="button-with-icon" mat-button>
          <span>{{ userName }}</span> <br>
          <mat-hint class="hint">Администратор</mat-hint>
          <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
        </button>
      </div>
      <div *ngIf="!checkProfile">
        <button (click)="openMenu()" class="header__title-button" mat-icon-button>
          <mat-icon *ngIf="!isMenuOpened" class="header__title-button-icon">menu</mat-icon>
          <mat-icon *ngIf="isMenuOpened && !checkProfile" class="header__title-button-icon">close</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
