.header {
  display: flex;
  background: var(--ETP_Red, #DA2032);
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  height: 5rem;

  &__title {
    display: flex;
    align-items: center;
    color: white;
  }
}

.back-container {
  display: flex;
  align-items: center;
  font-family: Moscow Sans, sans-serif;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.back-button {
  color: white;
}

.button-with-icon {
  color: #FFF;
  font-family: Moscow Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  span {
    color: white;
  }

  mat-icon {
    color: white;
  }
}

::ng-deep.mat-mdc-option {
  color: black !important;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background: var(--ETP_Red, #DA2032) !important;
}

.header-toolbar {
  display: flex;
  align-items: center;
}

.userIcon {
  background: #FBF9FA;
  height: 2rem;
  width: 2rem;
  margin-right: -4rem;
}

.hint {
  color: #E5E5E5;
  font-family: Moscow Sans, sans-serif;
  margin-left: 4rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}
