:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
}

.button-with-icon {
  color: #FFF;
  font-family: Moscow Sans, sans-serif;
  font-size: 20px;
  margin-left: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.description {
  color: #E5E5E5;
  text-align: center;
  font-family: Moscow Sans, sans-serif;
  font-size: 16px;
  margin-top: -5px;
  font-style: normal;
  font-weight: 300;
  line-height: 23px;
}

.profile-card {
  text-align: center;
  padding: 0 20px 20px 20px;
  margin-top: 6rem;
  margin-bottom: -2rem;
  color: #ffff;
}

.first-section {
  background: var(--ETP_Grey, #A2A9B1);
}

.mat-mdc-form-field {
  margin-left: 60px;
}

.sub-header {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-bottom: -1rem;
  color: #ffffff;
}

.mdc-list-item__primary-text {
  margin-left: 4rem;
  margin-bottom: 2rem;
  color: var(--ETP_White, #FFF);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Moscow Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}

::ng-deep.mdc-list-group__subheader {
  margin: calc((3rem - 1.5rem) / 2) 16px;
  color: var(--ETP_White, #FFF);
  font-family: Moscow Sans, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

::ng-deep.mdc-line-ripple::before, .mdc-line-ripple::after {
  border-bottom-style: none !important;
}

.nav-mobile {
  margin-top: 5rem;
  padding: 1rem;

  .profile {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.selected-style {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  .selected-title {
    color: var(--ETP_White, #FFF);
    font-family: Moscow Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
  }
  .description {
    color: var(--ETP_Grey-light, #E8EBED);
    font-variant-numeric: lining-nums tabular-nums;

    font-family: Moscow Sans, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
  }
}

.mat-divider {
  background: white !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

