<mat-nav-list *ngIf="isShowSidebar">
  <div class="profile-card">
    <div class="header">
      <button class="button-with-icon" mat-button>
        <span>Суперагент</span>
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <p class="description">Банк ВТБ(ПАО)</p>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="first-section">
    <div class="sub-header">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="work"></mat-icon>
      <h3 mat-subheader style="margin-left: -1px">Управление</h3>
    </div>
    <mat-list>
      <mat-list-item routerLink="/card-counterparty" routerLinkActive="routerLinkActive">
        <span matListItemTitle>Карточка контрагента</span>
      </mat-list-item>
      <mat-list-item routerLink="/contracts-counterparty" routerLinkActive="routerLinkActive">
        <span matListItemTitle>Договоры контрагента</span>
      </mat-list-item>
    </mat-list>
  </div>

  <div>
    <div class="sub-header">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="people"></mat-icon>
      <h3 mat-subheader style="margin-left: -1px">Субагенты</h3>
    </div>
  </div>

</mat-nav-list>


<mat-nav-list *ngIf="!isShowSidebar" class="nav-mobile">
  <div class="selected-style">
    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12 3C10.9391 3 9.92172 3.42143 9.17157 4.17157C8.42143 4.92172 8 5.93913 8 7C8 8.06087 8.42143 9.07828 9.17157 9.82843C9.92172 10.5786 10.9391 11 12 11C13.0609 11 14.0783 10.5786 14.8284 9.82843C15.5786 9.07828 16 8.06087 16 7C16 5.93913 15.5786 4.92172 14.8284 4.17157C14.0783 3.42143 13.0609 3 12 3ZM12 14C8.859 14 3 15.545 3 18.5V20C3 20.5523 3.44772 21 4 21H11.2699C11.7809 21 12.1467 20.5058 12.0742 20H12.0801C12.0331 19.673 12 19.34 12 19C12 17.923 12.2515 16.9071 12.6875 15.9961C12.8707 15.6117 13.086 15.2455 13.332 14.9028C13.5692 14.5724 13.3931 14.0781 12.9878 14.0441C12.638 14.0147 12.3062 14 12 14ZM18.0645 14C17.9355 14 17.8275 14.0966 17.8125 14.2246L17.6953 15.2363C17.2113 15.4043 16.7745 15.6593 16.3945 15.9883L15.457 15.582C15.339 15.531 15.2027 15.5775 15.1387 15.6895L14.2012 17.3105C14.1372 17.4225 14.1665 17.5646 14.2695 17.6406L15.0762 18.2383C15.0292 18.4863 15 18.74 15 19C15 19.26 15.0282 19.5128 15.0762 19.7598L14.2715 20.3594C14.1685 20.4364 14.1381 20.5785 14.2031 20.6895L15.1387 22.3105C15.2027 22.4225 15.341 22.467 15.459 22.416L16.3945 22.0117C16.7735 22.3397 17.2113 22.5957 17.6953 22.7637L17.8125 23.7754C17.8265 23.9044 17.9355 24 18.0645 24H19.9355C20.0645 24 20.1725 23.9034 20.1875 23.7754L20.3047 22.7637C20.7887 22.5957 21.2255 22.3407 21.6055 22.0117L22.543 22.418C22.661 22.469 22.7973 22.4215 22.8613 22.3105L23.7988 20.6895C23.8628 20.5775 23.8335 20.4354 23.7305 20.3594L22.9238 19.7598C22.9718 19.5128 23 19.26 23 19C23 18.74 22.9718 18.4872 22.9238 18.2402L23.7285 17.6406C23.8315 17.5636 23.8619 17.4215 23.7969 17.3105L22.8613 15.6895C22.7973 15.5775 22.659 15.533 22.541 15.584L21.6055 15.9883C21.2265 15.6603 20.7887 15.4043 20.3047 15.2363L20.1875 14.2246C20.1735 14.0956 20.0645 14 19.9355 14H18.0645ZM19 17.25C19.966 17.25 20.75 18.033 20.75 19C20.75 19.966 19.966 20.75 19 20.75C18.034 20.75 17.25 19.966 17.25 19C17.25 18.033 18.034 17.25 19 17.25Z"
        fill="white"/>
    </svg>
    <button class="selected-title" mat-button>
      Иванов И.И
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="selected-style">
    <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M7 2C6.46957 2 5.96086 2.21071 5.58579 2.58579C5.21071 2.96086 5 3.46957 5 4C5 4.53043 5.21071 5.03914 5.58579 5.41421C5.96086 5.78929 6.46957 6 7 6C7.53043 6 8.03914 5.78929 8.41421 5.41421C8.78929 5.03914 9 4.53043 9 4C9 3.46957 8.78929 2.96086 8.41421 2.58579C8.03914 2.21071 7.53043 2 7 2ZM5 7C3.895 7 3 7.895 3 9V16H4V22H6V16H8V22H10V11V9H14V7H5ZM16 7V9H21V7H16ZM12 11V13H14V11H12ZM16 11V13H21V11H16ZM12 15V17H14V15H12ZM16 15V17H21V15H16ZM12 19V21H14V19H12ZM16 19V21H21V19H16Z"
        fill="white"/>
    </svg>
    <button class="selected-title" mat-button>
      Администрирование
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="selected-style">
    <button class="selected-title" mat-button>
      Суперагент
      <span class="description">
     Банк ВТБ(ПАО)
   </span>
    </button>
    <mat-icon>arrow_drop_down</mat-icon>
  </div>

  <mat-divider></mat-divider>

  <div>
    <div class="selected-style">
      <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_2385)">
          <path clip-rule="evenodd"
                d="M16 6H20C21.105 6 22 6.895 22 8V19C22 20.105 21.105 21 20 21H4C2.895 21 2 20.105 2 19L2.01 8C2.01 6.895 2.895 6 4 6H8V4C8 2.895 8.895 2 10 2H14C15.105 2 16 2.895 16 4V6ZM10 6H14V4H10V6Z"
                fill="white"
                fill-rule="evenodd"/>
        </g>
        <defs>
          <clipPath id="clip0_1_2385">
            <rect fill="white" height="24" width="24"/>
          </clipPath>
        </defs>
      </svg>
      <button class="selected-title" mat-button>
        Управление
      </button>
    </div>
    <div class="selected-style">
      <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_2396)">
          <path
            d="M16.5 12C17.88 12 18.99 10.88 18.99 9.5C18.99 8.12 17.88 7 16.5 7C15.12 7 14 8.12 14 9.5C14 10.88 15.12 12 16.5 12ZM9 11C10.655 11 11.99 9.655 11.99 8C11.99 6.345 10.655 5 9 5C7.345 5 6 6.345 6 8C6 9.655 7.345 11 9 11ZM16.5 14C14.665 14 11 14.92 11 16.75V19H22V16.75C22 14.92 18.335 14 16.5 14ZM9 13C6.665 13 2 14.17 2 16.5V19H9V16.75C9 15.9 9.335 14.415 11.37 13.28C10.5 13.095 9.655 13 9 13Z"
            fill="white"/>
        </g>
        <defs>
          <clipPath id="clip0_1_2396">
            <rect fill="white" height="24" width="24"/>
          </clipPath>
        </defs>
      </svg>
      <button class="selected-title" mat-button>
        Субагенты
      </button>
    </div>
  </div>

</mat-nav-list>

